@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Inter', system-ui, sans-serif;
}
